---

tables:

  gatewayclasses:
    note: GatewayClasses with labels
    aliases:
      - gwc
    api: gateway.networking.k8s.io/v1
    kind: GatewayClass
    fields:
      gatewayclass: "$.metadata.name"
      instance: "$.metadata.labels.\"app.kubernetes.io/instance\""
  
  gateways:
    note: Gateways with targets
    aliases:
      - gw
    api: gateway.networking.k8s.io/v1
    kind: Gateway
    fields:
      gateway: "$.metadata.name"
      gwnamespace: "$.metadata.namespace"
      gwclass: "$.spec.gatewayClassName"
      address: "$.status.addresses[*].value"
      listeners:
        listenname: "$.spec.listeners[*].name"
        listenprotocol: "$.spec.listeners[*].protocol"
        listenport: "$.spec.listeners[*].port"

  httproutes:
    note: HTTPRoute with gateways
    aliases:
      - route
    api: gateway.networking.k8s.io/v1
    kind: HTTPRoute
    fields:
      route: "$.metadata.name"
      namespace: "$.metadata.namespace"
      parentrefs:
        gateway: "$.spec.parentRefs[*].name"
        gatewaynamespace: "$.spec.parentRefs[*].namespace"
        listenname: "$.spec.parentRefs[*].sectionName"
      backend:
        hostnames: "$.spec.hostnames[*]"
        service: "$.spec.rules[*].backendRefs[*].name"

queries:

  gateway-httproutes:
    note: Gateway to HTTPRoute
    aliases:
      - gh
      - gr
    tables:
      - gateways
      - httproutes

  gateway-route-service:
    note: Gateway to Route to Service
    aliases:
      - grs
    tables:
      - gateways
      - httproutes
      - endpointslices-ip-ports
      - pods-ports
