---

tables:

  gateways:
    note: Gateways with targets
    aliases:
      - gw
    api: gateway.networking.k8s.io/v1
    kind: Gateway
    fields:
      gateway: "$.metadata.name"
      gatewaynamespace: "$.metadata.namespace"
      specaddress:
        - "$.spec.addresses[*].value"
        - unroll

  httproutes:
    note: HTTPRoute with gateways
    aliases:
      - route
    api: gateway.networking.k8s.io/v1
    kind: HTTPRoute
    fields:
      route: "$.metadata.name"
      namespace: "$.metadata.namespace"
      parentrefs:
        gateway: "$.spec.parentRefs[*].name"
        gatewaynamespace: "$.spec.parentRefs[*].namespace"
      hostnames:
        - "$.spec.hostnames[*]"
        - unroll
      backendrefs:
        service: "$.spec.rules[*].backendRefs[*].name"

  grpcroutes:
    note: GRPCRoute with gateways
    aliases:
      - route
    api: gateway.networking.k8s.io/v1
    kind: GRPCRoute
    fields:
      route: "$.metadata.name"
      namespace: "$.metadata.namespace"
      parentrefs:
        gateway: "$.spec.parentRefs[*].name"
        gatewaynamespace: "$.spec.parentRefs[*].namespace"
      hostnames:
        - "$.spec.hostnames[*]"
        - unroll
      backendrefs:
        service: "$.spec.rules[*].backendRefs[*].name"

queries:

  gateway-httproutes:
    note: Gateway to Route (HTTP)
    aliases:
      - grh
    tables:
      - gateways
      - httproutes

  gateway-grpcroutes:
    note: Gateway to Route (GRPC)
    aliases:
      - grg
    tables:
      - gateways
      - grpcroutes

  gateway-route-service:
    note: Gateway to Route to Service
    aliases:
      - grs
    tables:
      - gateways
      - httproutes
      - endpointslices-ip-ports
      - pods-ports

bundles:

  gateway-routes:
    note: Gateway to Route
    aliases:
      - gr
    queries:
      - gateway-httproutes
      - gateway-grpcroutes
