---

tables:

  endpointslices-ip-ports:
    note: EndpointSlices with clusterIPs and ports
    aliases:
      - eip
    api: v1
    kind: EndpointSlice
    fields:
      endpoint: "$.metadata.name"
      namespace: "$.metadata.namespace"
      service: "$.metadata.labels.\"kubernetes.io/service-name\""
      addresses:
        kind: "$.endpoints[*].targetRef.kind"
        pod: "$.endpoints[*].targetRef.name"
        podip: "$.endpoints[*].addresses[*]"
      ports:
        port: "$.ports[*].port"
        protocol: "$.ports[*].protocol"

  loadbalancer-services:
    note: Services of type LoadBalancer
    aliases:
      - lbs
    api: v1
    kind: Service
    fields:
      service: "$.metadata.name"
      namespace: "$.metadata.namespace"
      serviceip: "$.spec.clusterIP"
      servicetype: "$.spec.type"
      lbip: "$.status.loadBalancer.ingress[*].ip"
      ready: "$.status.conditions[*].status"
    filters:
      - servicetype=LoadBalancer
    sort:
      - lbip

queries:

  endpoints-pods-nodes:
    aliases:
      - epn
    note: Details of clusterIPs on various nodes
    tables:
      - endpointslices-ip-ports
      - pods-ports
